body{
    font-family:'Sansita Swashed', cursive;
    background: url(../img/abbey3-01.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;

}

.navbar-brand{
    /* background-color: transparent; */
    font-size: 1.5rem;
    font-family:'Sansita Swashed', cursive;
    font-weight: 700;

}
.nav-link{
    font-size: 1.1rem;
    font-weight: 550;
    font-family: 'Sansita Swashed', cursive;
}

.attribution a{
text-decoration: none;
color: teal;
}

.hero-content{
    margin-top: 5rem;
}
.hero-content h1{
    font-weight: 900px;
    font-size: 3rem;
}

.section-heading h2{
    align-items: center;
}