body{
    font-family:'Sansita Swashed', cursive;
    background: url(../img/abbey3-01.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
font-size: 1.2rem;
}

.navbar-brand{
    /* background-color: transparent; */
    font-size: 2rem;
    font-family:'Sansita Swashed', cursive;
    font-weight: 700;

}
.nav-link{
    font-size: 1.5rem;
    font-weight: 550;
    font-family: 'Sansita Swashed', cursive;
}

.attribution {
    font-family: monospace;
    font-variant: small-caps;
    text-decoration: none;
    text-align: center;
    background-color: teal;
    width: 100%;
}
.attribution a{
    text-decoration: none;
    color: turquoise;
}
.author{
    text-align: center;
    background-color: teal;
    color: turquoise;
}
.author a{
    text-decoration: none;
    color: turquoise;
}

.hero-content{
    margin-top: 5rem;
}
.hero-content h1{
    font-weight: 900px;
    font-size: 3rem;
}

.social-icons-hero{
    align-items: stretch;
    color:turquoise;
    font-size: 2rem;    
}
.social-icons-hero a{
    background-color:transparent;
    border-style: none;
    border-radius: 25%;
    margin-right: 1rem;
}

.section-heading h2{
    align-items: center;
}